@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html {
    font-size: 16px;
}

:focus {
    outline: none;
}

body {
    font-family: Raleway, 'Segoe UI', Arial, sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

a {
    color: #333;
}

#commerce {
    background-color: #f0f0f0;
}

#commerce h2 {
    font-weight: 600;
    font-size: 1.8rem;
}

#commerce h3 {
    font-size: 1.6rem;
}

#commerce h4 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

#commerce .navbar-brand {
    width: 270px;
}

#commerce .navbar-brand img {
    height: 50px;
    width: 150px;
    float: left;
    margin-top: -15px;
}

#commerce .panel-theme {
    border-color: #ddd;
}

#commerce .panel-theme .panel-heading {
    color: #333;
    font-weight: 600;
    border-color: #ddd;
    border-top: 2px solid #e52d04;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf));
    background: linear-gradient(to bottom, #fff 0%, #dfdfdf 100%);
}

#commerce .panel-default h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 10px 5px 10px;
}

#commerce .badge-theme {
    font-weight: 400;
    background-color: #9e7480;
    margin-top: -15px;
}

#commerce .btn-theme {
    background-color: #e52d04;
    color: #fff;
}

#commerce .btn-theme:hover {
    -webkit-filter: contrast(90%);
    filter: contrast(90%);
}

#commerce #navbar-search {
    width: 400px;
    float: left;
}

#commerce .carousel {
    overflow: hidden;
}

#commerce .carousel .carousel-caption {
    right: 0;
    left: 0;
    height: 54px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

#commerce .carousel img {
    height: 374px !important;
}

#commerce #sidebar-product {
    height: 374px !important;
}

#commerce .list-group.categories {
    font-size: 0.8rem;
}

#commerce .bg-content {
    padding: 10px 15px;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#commerce .products .product {
    text-align: center;
}

#commerce .products .product img {
    height: 200px;
    border-radius: 4px;
    margin-bottom: 5px;
    max-width: 100%;
}

#commerce .products .product .price {
    font-size: 20px;
    font-weight: 600;
}

#commerce .nav-tabs {
    padding-left: 6px;
}

#commerce .nav-tabs li.active a {
    font-weight: 600;
    border-bottom: inherit;
    margin-top: 3px;
    border-top: 2px solid #e52d04;
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#dfdfdf));
    background: linear-gradient(to top, #fff 0%, #dfdfdf 100%);
}

#commerce .tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
}

#commerce .price {
    font-size: 24px;
    font-weight: 600;
}

#commerce .price small {
    font-size: 14px;
}

#commerce footer {
    background-color: #fff;
    padding: 50px;
    margin-top: 20px;
}


#commerce .resim{
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(232, 232, 232, 1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(232, 232, 232, 1);
    box-shadow: inset 0px 0px 0px 1px rgba(232, 232, 232, 1);
    border: 5px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-position: center center;
    margin-bottom: 15px;
    border-radius: 6px; text-align:center;
}

#commerce .yorum{
    float:left;
    font-size:14px;
    position: relative;
    left: -5px;
    top: -125px;
    margin-bottom: 5px;
    border-top:1px solid #e59686;
    border-left:1px solid #e59686;
    border-right:1px solid #e59686;
    border-bottom:1px solid #e59686;
    color:#333;
    width:auto;
}

#commerce .begen{
    margin-top: 8px;

}
#commerce .kombin{
    float:left;
    font-size:14px;
    position: relative;
    left: -350px;
    top: -75px;
    margin-bottom: 5px;
    border-top:1px solid #e59686;
    border-left:1px solid #e59686;
    border-right:1px solid #e59686;
    border-bottom:1px solid #e59686;
    color:#333;
    width:auto;
}
#commerce .iptalButon{
    margin-left: 10%;
    margin-right:10%;
}
#commerce .kaydetButon{
    margin-left: 50%;
    margin-right:50%;
}
#commerce .adres{
    margin-left: 5%;
    margin-right:5%;
}
